<div class="row">
    <div class="col s8 offset-s2">
      <div style="float: right;">
        <button on-click="LogOut()" class="button">LogOut</button>
        </div>
      <h2 class="header">Completed!</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="../../assets/images/trophy.png" style="width: 250px;height : 250px;">
        </div>
        <div class="card-stacked">
          <div class="card-content">
           
            <h3>{{quizService.correctAnswerCount}}/10</h3>
            <!-- <span>Time Elapsed : {{quizService.displayTimeElapsed()}}</span> -->
          </div>
          <div class="card-action">
            <button (click)="checkscore()" class="button" >SUBMIT</button>
          </div>
        </div>
        <a class="btn-floating halfway-fab waves-effect waves-light blue" (click)="restart()">
            <i class="material-icons">RETEST?</i>
          </a>
      </div>
      <span style="color:red;">{{errmsg}}</span>