<br><br>
<h3 style="color:#2ecc71">INSTRUCTIONS:</h3><br>
<p>1. Make sure you have a proper Internet Connection</p><br>
<p>2. Do not resize the browser during the test</p><br>
<p>3. There are three levels in the exam</p><br>
<p>4. After you complete each level report will be generated</p><br>
<p>5. Only if you get the eligible score,you will be allowed for the next level</p><br>

       <h2>ALL THE BEST!</h2>
       <button class="button" [routerLink]="'/quizquestion'" value="newexam">

        START EXAM
       </button>
