
<nav>
  <a class="logo" href="#">ExamPortal</a>
   <label aria-hidden="true" for="toggle"><i class="fas fa-bars"></i></label>

  <ul>
    

    <li><a class="link" routerLink="/home" routerLinkActive="active">home</a></li>
    <li><a class="link" routerLink="/abouts">About Us</a></li>
   
  </ul>
 
</nav>

<router-outlet></router-outlet>
<!-- <app-home-page></app-home-page>  -->
  <!-- <app-login2ndpage></app-login2ndpage> -->
 
 <!-- <app-register>
</app-register> -->
<!-- <app-quiz></app-quiz> -->

